<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
    
    <link rel="stylesheet" href="https://opensource.keycdn.com/fontawesome/4.7.0/font-awesome.min.css">
    
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,300,700">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
<div class="container">
    <div class="row top-menu">
        <div class="col-md-6">
            <a href="{{url_for('main')}}" class="title">
                <i class="fa fa-home" aria-hidden="true"></i> Catalog App
            </a>
        </div>
        <div class="col-md-6 text-right">
                <div class="login">
                    <div>
            {% if loggedIn(session) %}
                        <div title="{{session.provider}}: {{session.email}}">
                            <img src="{% if session.picture %}{{session.picture}}{% else %}{{url_for('static', filename='blank_user.gif')}}{% endif %}" width="24" height="24"><br>
                            {{session.name}}
                        </div>
                        <a href="{{url_for('logout')}}" class="btn btn-outline-secondary btn-sm">Logout</a>
            {% else %}
                <a href="{{url_for('login')}}" class="btn btn-primary">Login</a>
            {% endif %}
                    </div>
                </div>
        </div>
    </div>
    <div class="row divider blue">
        <div class="col-md-12"></div>
    </div>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <div class="row">
        <ul class="col-sm-12 flash">
        {% for category, message in messages %}
            <li class="{{category}}">{{message}}</li>
        {% endfor %}
        </ul>
    </div>
    {% endif %}
    {% endwith %}
	<div class="row">
	<div class="col-12">
    {% block content %}
    {% endblock %}
    </div>
    </div>
</div>
<!-- jQuery, then Tether, then Bootstrap JS. -->
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
</body>
</html>
